{{ form_start(get_location_form_ajax, { 'attr' : {'novalidate': 'novalidate', 'role' : 'form', 'id': 'get-location1234567812345678-ajax'|default('form')} }) }}
{{ form_end(get_location_form_ajax) }}


<style>
    #user_location_signUpDiv {
        {#position: absolute;
        top: 450px;
        left: 0px; 
        width: 120px;
        text-align: right;#}
    }

    #user_location_signUpInput {
        {#position: absolute;
        top: 500px;
        left: 120px; 
        width: 300px;
        text-align: left;
        height: 30px;
        color: gray;
        border: 0;#}
        background-color: rgba(255, 255, 255, 0.5);
        align-content: center;
    }
    
    .frame_location {
        background-color: blue;
        {#height: 30px;
        width: 100%;#}
    }
    
    
    #locationTool {
        background-color: #1087dd;
        left: 0px;
        right: 0px;
        bottom: 0px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    #finalLocation {
        background-color: #0000F0;
        top: 100px;
        right: 0px;
        bottom: 0px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .branch_location {
        display:inline-block;
        opacity:50%;
    }
</style>

<div id='user_location_signUpDiv' class="relativePosition" 
     keywordsAmount=0 
     parentLocation=1 
     locationPosition=0 
     languageId=0>

<input id="language_input" type=text size="10" placeholder="language" class='relativePosition'/>

<img 
    class='boton_personalizado relativePosition' 
    id='user_location_signUpSelect' 
    name='user_location_signUpSelect'
    locationId = 1
    src='files/images/icons/search/search.png' alt=''>

<div id="locationTool" placeId=0>
    dfghjk<br>dfghjk<br>dfghjk<br>dfghjk<br>dfghjk<br>
    dfghjk<br>dfghjk<br>dfghjk<br>dfghjk<br>dfghjk<br>
</div>

<div id="finalLocation">
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
    colombia->cundinamarca->soacha...
</div>

{{ include('@SignUp/Default/search_location.html.twig') }}
{{ include('@SignUp/Default/select_location.html.twig') }}
{{ include('@SignUp/Default/insert_location.html.twig') }}
</div>

<script>
    function drawLocation(locationId_attr)
    {
        var locationPosition = $("#user_location_signUpDiv").attr('locationPosition');
        var locationPosition_2 = parseInt(locationPosition) + 1;
        $("#user_location_signUpDiv").attr('locationPosition', locationPosition_2);
        if(locationId_attr == 0)
        {
            searchLocation();alert("nonexistent location "+locationId_attr);
        } else
        {
            getLocation(locationId_attr);alert("existing location "+locationId_attr);
        }
        // eraseChild
    }

    function eraseChild(locationParent_2)
    {
        var locationPosition = parseInt(locationParent_2)+1;
        document.getElementById("frame_location" + locationPosition).innerHTML = "";
        locationPosition-=1;
        $("#user_location_signUpDiv").attr('locationPosition', locationPosition);
    }

    function getLocation(locationParentId)
    {
        var form = $('#get-location1234567812345678-ajax');
        var url = form.attr('action');
                
        var language = $("#user_location_signUpDiv").attr('languageId');
                
        if(!locationParentId)
        {
            locationParentId = $("#user_location_signUpDiv").attr("parentLocation");
        }
        var keywordsAmount = $("#user_location_signUpDiv").attr("keywordsAmount");
        
        {#document.getElementById("user_location_signUpDiv").setAttribute("insertedLocation"+i, insertedLocations[i]);#}
        alert(" ... keywordsAmount "+keywordsAmount);
        
        var insertedLocation = new Array(keywordsAmount);
        if (keywordsAmount == 0)
        {
            insertedLocation[0] = "";
        } else
        {
            for (var i=0; i<=keywordsAmount; i++)
            {
                insertedLocation[i] = $("#user_location_signUpDiv").attr("insertedLocation"+i);
                document.getElementById("user_location_signUpDiv").removeAttribute("insertedLocation"+i);
                {#alert("position: " + i + " - insertedLocation: "+insertedLocation[i]);#}
            }
        }

        alert("\n - language: "+language+
              "\n - locationParentId: "+locationParentId+
              "\n - keywordsAmount: "+keywordsAmount+
              "\n - insertedLocation: "+insertedLocation);
        
        $.post(url, {
                    locationParent: locationParentId, 
                    keywordsAmount: keywordsAmount,
                    language: language,
                    insertedLocation: insertedLocation}, function (data)
        {
            var amountLocations = data[0].amountLocations;
            alert("-draw something: "+amountLocations+" ... "+locationParentId+" ... "+
                    "");
            
            $("#user_location_signUpDiv").attr("parentLocation", locationParentId);
            $("#user_location_signUpDiv").attr("keywordsAmount", 0);
            if (amountLocations == 0)
            {alert("insert locationnnnn");
                insertLocation();
            } else
            {alert("select locationnnnn");
                
                selectLocation(data);
                {#insertLocation();#}
            }
            
            var locationId = data[i].locationId;
            var locationName = data[i].locationName;
            
            var branch_location = document.createElement("div");
            branch_location.id = "branch_location" + locationId;
            branch_location.className = "branch_location";
            branch_location.style.backgroundColor = "red";
            branch_location.setAttribute('parentId', locationId);
            branch_location.textContent = locationName;
            document.getElementById("finalLocation").appendChild(branch_location);
        
        {#alert();        #}

            {#var locationName_input = document.createElement("input"); 
            locationName_input.id = "locationName_input" + parentId + keywordsAmount;
            locationName_input.name = "locationName_input" + parentId + keywordsAmount;
            locationName_input.type = "text";
            locationName_input.className = "standar_input relativePosition";
            locationName_input.style.height = "30px";
            locationName_input.style.width = "130px";
            locationName_input.style.cursor = "cursor";
            locationName_input.placeholder = "location name";
            document.getElementById("container_location" + parentId + keywordsAmount).appendChild(locationName_input);
            #}
                        
            {#alert('GET LOCATION1234567812345678 .... ');#}
        }).fail(function () {
            alert('ERROR... GET LOCATION1234567812345678');
        });
    }
    
    
    
    $("#sessionMenu")
    .mouseover(function () {
        var currentList_content = document.getElementById("sessionMenu");
        currentList_content.classList.add("visibleScroll");
    })
    .mouseout(function () {
        var currentList_content = document.getElementById("sessionMenu");
        currentList_content.classList.remove("visibleScroll");
    });
    
    $("#locationTool")
    .mouseover(function () {
        var content = document.getElementById("locationTool");
        content.classList.add("visibleScroll");
    })
    .mouseout(function () {
        var content = document.getElementById("locationTool");
        content.classList.remove("visibleScroll");
    });
        
</script>